extends ../layout/_layout

block var
  - homepage = true
  - homepageSuffix = 'Creating Safer Communities'
  - description = 'The Royal Bahamas Police Force is dedicated to ensuring the safety and well-being of Bahamians, residents and visitors across the entire Bahamas through vigilant protection, law enforcement, and community engagement.'
  
block content

  main#main(class='[ main ]')

    include ../partials/_hero

    div(class='[ x--wide grid gr--5 py--5 ]')

      - i = 0

      section
        -
          services = [
            {name: 'Request a service'},
            {name: 'Become an Officer'},
            {name: 'Contact the Media Office'},

          ]

        ul(class='[ list list--services ][ grid x2--md x3--lg g--1 ]')

          each item, service in services

            li(class='[ service ][ py--2 px--1 ]')

              h2(class='[ font--5 ][ mb--0.5 ]') 

                a(href='')= item.name

              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, nostrum voluptate, perspiciatis in beatae asperiores mollitia quibusdam culpa eius quo quae vitae quisquam quidem fugit.


      section(class='[ grid x2--md ]')

        div(class='[ o--2 ]')

          h2 Commitment to Community and Safety

          p(class='[ font--4 font--500 ]') Grounded in professionalism, integrity, and robust community partnerships, the Royal Bahamas Police Force (RBPF) envisions a Bahamas where safety is paramount, fostering an environment for every individual to thrive.

          p At the heart of our mission is a commitment to vigilant protection and proactive community engagement. The RBPF strives to create an atmosphere where residents and visitors alike feel secure, knowing that we are not just enforcers of the law but invested partners in community well-being.
          
          p Our officers, driven by a genuine concern for the people they serve, work tirelessly to prevent crime, maintain order, and uphold the values of care, respect, and trust.

          a(class='[ btn btn--solid--lg solid--prime ]' href='/about-us/') Learn More 
            span(class='[ hidden ]') About Us


        +img('salute', 'memorial-day-salute', 'o--1','RBPF Memorial Day salute')(class='[ ratio--4:7 ]')

      section()

        h2 RBPF News &amp; Updates


        ul(class='[ news ][ grid gc--1 gr--0 ]')
          - 
            news = [
              {title:'A Heartfelt Visit: Lavaria Storr Meets Commissioner Fernander', date: 'January 24, 2024', img:'commissioner-clayton-fernander-lavaria-storr-courtesy-visit'},
              {title:'Collaborative Session: Urban Renewal Centers Reintegration Meeting', date: 'January 18, 2024', img:'urban-renewal-reintegration-meeting'},
              {title:'10th Annual Majority Rule Day Commemorative Church Service', date: 'January 11, 2024', img:'governor-general-commissioner-police'},
              {title:'Promotion Milestone: 10 Senior Officers Elevated to Assistant Commissioner of Police', date: 'December 13, 2023', img:'acp-promotion-milestone'},
              {title:'59 Years of Women\'s Contribution: Celebrating Women in Policing', date: 'November 24, 2023', img:'59-years-women-policing'},
              {title:'Enhancing Safety: RBPF FUSUS Technology Protecting The Bahamas', date: 'November 24, 2023', img:'security-cameras'},

            ]
          
          each story, index in news

            

            li(class=`[ story story--${index + 1} ][ grid subgrid mb--2 ]`)

                a(class='[ story__link ][ grid subgrid ]' href='/news-updates/news/post')

                  h3(class='[ font--4 font--400 o--2 ]')= story.title
                  
                  time(class='[ o--3 ]' datetime=story.date)= story.date
                  
                  +img(`thumb--${index + 1}`, story.img, 'story__thumb', story.title, 'mb--1 o--1')(class='[ ratio--1:1 ]')
